@model ModelTemplates.Models.Person

@{
    ViewBag.Title = "LabelFor";
}

<h2>Person</h2>

<div class="field">
    @Html.LabelFor(m => m.FirstName):
    @Html.EditorFor(m => m.FirstName)<br />

    @Html.LabelFor(m => m.LastName):
    @Html.EditorFor(m => m.LastName)
</div>

<div class="field">
    @Html.LabelFor(m => m.IsApproved):
    @Html.EditorFor(m => m.IsApproved)
</div>
