@{
    ViewBag.Title = "Person List 2";
}

<h2>Persons:</h2>

@using (Html.BeginForm())
{
    <h4>First Person</h4>
    <input type="hidden" name="index" value="firstPerson" />
    @:First Name: @Html.TextBox("[firstPerson].FirstName")
    @:Last Name: @Html.TextBox("[firstPerson].LastName")
    
    <h4>Second Person</h4>
    <input type="hidden" name="index" value="secondPerson" />
    @:First Name: @Html.TextBox("[secondPerson].FirstName")
    @:Last Name: @Html.TextBox("[secondPerson].LastName")
    
    <input type="submit" value="Submit" />
}

<br /><br /><br />
[ @(string.Join(", ", ViewData.ModelState.Keys.Cast<string>().ToArray())) ]<br />
[ @(string.Join(", ", ViewData.ModelState.Values.Cast<ModelState>()
                                                .Select(m => string.Format("\"{0}\"", m.Value.AttemptedValue))
                                                .ToArray())) ]
