@model PartyInvites.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>RsvpForm</title>
    <link rel="Stylesheet" type="text/css" href="@Href("~/Content/Site.css")" />
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <p>Your name: @Html.TextBoxFor(m => m.Name)</p>
        <p>Your email: @Html.TextBoxFor(m => m.Email)</p>
        <p>Your phone: @Html.TextBoxFor(m => m.Phone)</p>
        <p>
            Will you attend?
            @Html.DropDownListFor(
                m => m.WillAttend,
                new[]
                {
                    new SelectListItem() { Text = "Yes, I'll be there", Value = bool.TrueString },
                    new SelectListItem() { Text = "No, I can't come", Value = bool.FalseString },
                },
                "Choose an option")
        </p>
        <input type="submit" value="Submit RSVP" />
    }

</body>
</html>
